.footer {
  color: #d4d4d4; /* Light text color */
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.linkedin-text {
  font-size: 1.2rem; /* Larger text for LinkedIn section */
  color: #ffffff; /* Brighter text color */
  margin-bottom: 10px;
}

.linkedin-link {
  color: #00aaff; /* Bright blue link color */
  font-size: 1.4rem; /* Larger font size for LinkedIn link */
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

.linkedin-link:hover {
  color: #ffcc00; /* Brighter hover color */
  transform: scale(1.1); /* Slight zoom on hover */
}

.footer-line {
  border: none;
  height: 1px;
  background-color: #d4d4d4; /* Line color */
  margin: 10px 0;
}
@media(max-width:768px){
  .footer{
      margin: 50px 6%;
  }
  .footer-top{
      flex-direction: column;
      gap: 30px;
  }
  .footer-top-right{
      gap: 5px;
  }
  .footer-email-input {
      padding: 12px 14px;
      max-width: 200px;
  }
  .footer-email-input input{
      width: 100%;
      font-size: 16px;
  }
  .footer-email-input img{
      display: none;
  }
  .footer-subscribe {
      font-size: 14px;
      padding: 14px 20px;
  }
  .footer-bottom{
      display: flex;
      flex-direction: column-reverse;
      font-size: 14px;
  }
  .footer-bottom-right{
      gap: 12px;
  }
}